.container {
    text-align: center;
}
.row {
    justify-content: space-between;
}
.save-btn { 
    width: 100px;
    padding: 15px;
    background-color: rgb(59, 120, 206);
    border: solid;
    border: steelblue;
}
.fa {
    color: white;
}
.add-event{
    width: 105%;
}