body {

    margin: 0 auto;
}
h1 {
    background-color: rgb(156, 169, 170);
    text-align: center;
    padding: 40px;
    margin: 0 auto;
}
.date{
    background-color: rgb(156, 169, 170);
    margin: 0 auto;
    text-align: center;
}
hr{ 
background-color: black;    padding: 2px;
    margin: 0 auto;
    border: inset;
}
.time {
    margin-left: 40px;
}
.text {
    width: 90%;
    margin-left: 40px;
}
.save-btn {
    background-color: rgb(7, 139, 216);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    width: 100px;
}
.fa {
    color: white;
}
.past {
    background-color: rgb(156, 169, 170);

  }
  .present {
    background-color: #d3372f;
    color: white;
 
  }
  .future {
    background-color: #26e226;
  }
